[Interface]
Address = {{ vpn_ip }}
PrivateKey = {{ private.content | b64decode | trim }}
ListenPort = {{ wireguard_port }}

{% for node in play_hosts %}
{% if inventory_hostname != hostvars[node]['inventory_hostname'] %}
[Peer]
PublicKey = {{ hostvars[node].public.content | b64decode | trim }}
AllowedIPs = {{ hostvars[node].vpn_ip }}
Endpoint = {{ hostvars[node]['ansible_host'] | default(hostvars[node]['inventory_hostname']) }}:{{ wireguard_port }}

{% endif %}
{% endfor %}

{% if client_wireguard_path | length > 0 %}
[Peer]
PublicKey = {{ client_publickey.content | b64decode | trim }}
AllowedIPs = {{ client_vpn_ip }}
{% endif %}
